.homepage {
  padding: 0 1rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll; // let the sections scroll alone.

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

.latestEpisodes {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    li {
      background: var(--white);
      border: 1px solid var(--gray-100);
      padding: 1.25rem;
      border-radius: 1.5rem;
      position: relative;
      width: 20rem;
      height: 15rem;

      display: flex;
      align-items: center;

      img {
        width: 6rem;
        height: 5rem;
        border-radius: 1rem;
      }

      .episodeDetails {
        flex: 1;
        width: 66.6%;
        margin-left: 1rem;

        a {
          display: block;
          color: var(--gray-800);
          font-family: Lexend, sans-serif;
          font-weight: 600;
          text-decoration: none;
          line-height: 1.4rem;
          margin-top: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 0.875rem;
          margin-top: 0.5rem;

          max-width: 70%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          display: inline-block;
          margin-top: 3rem;
          position: absolute;
          bottom: 1.5rem;
          font-size: 0.875rem;

          &:last-child {
            margin-left: 4rem;
            padding-left: 0.5rem;

            &::before {
              //dot
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background: #ddd;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%); //absolute center
            }
          }
        }
      }

      button {
        position: absolute;
        right: 0.8rem;
        bottom: 1rem;

        width: 2rem;
        height: 2rem;
        background: var(--white);
        border: 1px solid var(--gray-100);
        border-radius: 0.675rem;
        font-size: 0;

        transition: filter 0.2s;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

.allEpisodes {
  padding-bottom: 2rem;

  table {
    width: 100%;

    th,
    td {
      padding: 0.75rem 1rem;
      border-bottom: 1px solid var(--gray-100);
    }

    th {
      color: var(--gray-200);
      text-transform: uppercase;
      font: 500 0.75rem Lexend, sans-serif;
      text-align: left;
    }

    td {
      font-size: 0.875rem;

      img {
        width: 2.5rem;
        height: 2rem;
        border-radius: 0.5rem;
      }

      a {
        color: var(--gray-800);
        font-family: Lexend, sans-serif;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.4rem;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
      button {
        width: 2rem;
        height: 2rem;
        background: var(--white);
        border: 1px solid var(--gray-100);
        border-radius: 0.5rem;
        font-size: 0;

        transition: filter 0.2s;

        img {
          width: 1.25rem;
          height: 1.25rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

//small desktop
@media (max-width: 1200px) {
  .latestEpisodes ul li {
    width: 19rem;
  }
}

//really small desktop
@media (max-width: 1099px) {
  .latestEpisodes {
    ul {
      li {
        width: 18rem;
      }
    }
  }
}

//tablet
@media (max-width: 980px) {
  .latestEpisodes {
    ul {
      li {
        width: 17rem;
      }
    }

    li button {
      width: 1.8rem !important;
      height: 1.8rem !important;

      right: 0.5rem !important;
      bottom: 1rem;
    }
  }

  .episodeDetails a {
    font-size: 15px;
  }

  .episodeDetails span {
    font-size: 12px !important;
  }
}

.allEpisodes table td button {
  width: 1.8rem !important;
  height: 1.8rem !important;
}

//smaller tablet
@media (max-width: 950px) {
  .latestEpisodes {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        width: 20rem;
      }
    }

    li button {
      width: 1.8rem !important;
      height: 1.8rem !important;

      right: 0.5rem !important;
      bottom: 1rem !important;
    }
  }

  .allEpisodes table td button {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
  .episodeDetails a {
    font-size: 15px;
  }

  .episodeDetails span {
    font-size: 12px !important;
  }

  .allEpisodes td {
    font-size: 0.7rem !important;
  }

  .allEpisodes a {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 700px) {
  .allEpisodes td:nth-child(3),
  .allEpisodes th:nth-child(3),
  .allEpisodes td:nth-child(4),
  .allEpisodes th:nth-child(4),
  .allEpisodes td:nth-child(1),
  .allEpisodes th:nth-child(1) {
    display: none;
  }
}

//tablet
@media (max-width: 500px) {
  .latestEpisodes {
    ul {
      li {
        width: 15rem;
      }
    }

    li button {
      width: 1.5rem !important;
      height: 1.5rem !important;
      border-radius: 35% !important;

      right: 0.1rem !important;
    }
  }
  .allEpisodes table td button {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 35% !important;
  }
  .episodeDetails a {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .episodeDetails span {
    font-size: 10px !important;
  }

  .allEpisodes a {
    font-size: 0.8rem !important;
  }

  .allEpisodes th,
  .allEpisodes td {
    padding: 0;
  }
}
