.playerContainer {
  padding: 1rem;
  width: 26.5rem;
  height: auto;

  position: sticky;
  top: 0;

  background: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer {
    align-self: stretch;

    &.empty .progress {
      opacity: 0.5;
    }
  }
}

.emptyPlayer {
  width: 100%;
  height: 20rem;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(
    143.8deg,
    rgba(145, 100, 250, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentEpisode {
  text-align: center;
  height: auto !important;

  img {
    border-radius: 1.5rem;
  }

  strong {
    display: block;
    margin-top: 0.2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;
  }

  span {
    display: block;
    margin-top: 0.2rem;
    opacity: 0.6;
    line-height: 1.5rem;
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  span {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }

  .slider {
    padding: 0.3rem;
    flex: 1;
    .emptySlider {
      width: 100%;
      height: 4px;
      background: var(--purple-300);
      border-radius: 2px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background: transparent;
    border: 0;
    font-size: 0;

    transition: filter 0.2s;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.78);
    }

    &.isActive {
      filter: invert(0.38) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.38) sepia(1) saturate(3)
        hue-rotate(100deg);
    }

    &.playButton {
      width: 2.3rem;
      height: 2.1rem;
      border-radius: 0.8rem;
      background: var(--purple-400);

      transition: filter 0.2s;

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }
  }
}

//small desktop screen
@media (max-width: 1200px) {
  .playerContainer,
  .emptyPlayer {
    width: 300px;
  }
}

//smaller tablet
@media (max-width: 950px), (min-height: 1000px) {
  .playerContainer,
  .emptyPlayer {
    width: 100%;
    height: 40vh;

    strong {
      font-size: 0.875rem;
    }

    span {
      align-items: center;
      font-size: 0.85rem;
    }
  }

  .currentEpisode span {
    font-size: 0.8rem;
  }

  .buttons {
    justify-content: center;
    gap: 10vw;
  }
}

//phone
@media (max-width: 500px) {
  .playerContainer,
  .emptyPlayer {
    height: 65vh;
    strong {
      font-size: 0.875rem;
    }

    span {
      align-items: center;
      font-size: 0.7rem;
    }
  }

  .currentEpisode {
    span {
      font-size: 0.8rem;
    }

    img {
      width: 120px;
    }
  }

  .clippingText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
}
